/*
 * Copyright 2021 Watheia Labs, LLC. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* redefine this var so it can be used in skin.css */
  --spectrum-colorhandle-background-offset: calc(-1 * var(--spectrum-global-dimension-static-size-25));
  --spectrum-colorhandle-checkerboard-size: var(--spectrum-global-dimension-static-size-100);

  /* todo: update DNA so this is no longer required */
  --spectrum-colorhandle-outer-border-color: rgba(0, 0, 0, 0.42);
}

.spectrum-ColorHandle {
  border-color: var(--spectrum-colorhandle-inner-border-color);
  box-shadow: 0 0 0 var(--spectrum-colorhandle-outer-border-size) var(--spectrum-colorhandle-outer-border-color);

  background-color: var(--spectrum-global-color-static-white);

  /* Add a half-percent to fix diagonal line issue in Chrome on non-retina displays */
  background-image:
    linear-gradient(-45deg, transparent 75.5%, var(--spectrum-global-color-static-gray-500) 75.5%),
    linear-gradient(45deg, transparent 75.5%, var(--spectrum-global-color-static-gray-500) 75.5%),
    linear-gradient(-45deg, var(--spectrum-global-color-static-gray-500) 25.5%, transparent 25.5%),
    linear-gradient(45deg, var(--spectrum-global-color-static-gray-500) 25.5%, transparent 25.5%);

  &.is-disabled {
    border-color: var(--spectrum-colorhandle-inner-border-color-disabled);
    background: var(--spectrum-colorhandle-fill-color-disabled);
    box-shadow: none;

    .spectrum-ColorHandle-color {
      display: none;
    }
  }
}

.spectrum-ColorHandle-color {
  box-shadow: inset 0 0 0 var(--spectrum-colorhandle-outer-border-size) var(--spectrum-colorhandle-outer-border-color);
}
