/*
 * Copyright 2021 Watheia Labs, LLC. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* todo: fix this in DNA */
  --spectrum-colorwheel-focus-ring-size: var(--spectrum-global-dimension-static-size-25);
  --spectrum-colorwheel-border-radius: 100%;
  --spectrum-colorwheel-width: calc(var(--spectrum-global-dimension-size-125) * 16);
  --spectrum-colorwheel-height: var(--spectrum-colorwheel-width);
}

%spectrum-ColorControl-handle--focused {
  /* Bigger handle when focused */
  width: calc(var(--spectrum-colorhandle-size) * 2);
  height: calc(var(--spectrum-colorhandle-size) * 2);

  margin-left: calc(-1 * var(--spectrum-colorhandle-size));
  margin-top: calc(-1 * var(--spectrum-colorhandle-size));
}

/** index.css (scale dependent) */

%spectrum-ColorControl-hiddenField {
  opacity: 0.0001;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 0;
  margin: 0;
  pointer-events: none;
}

.spectrum-ColorWheel {
  position: relative;
  display: block;
  width: var(--spectrum-colorwheel-width);
  height: var(--spectrum-colorwheel-height);
  /* expose to JS */
  --spectrum-colorwheel-track-thickness: var(--spectrum-colorwheel-track-width);

  border-radius: var(--spectrum-colorwheel-border-radius);

  user-select: none;
  touch-action: none;
  cursor: default;

  .spectrum-ColorWheel-handle {
    margin: 0;
  }

  &.is-focused {
    z-index: 2;

    .spectrum-ColorWheel-handle {
      @extend %spectrum-ColorControl-handle--focused;
    }
  }

  &.is-disabled {
    pointer-events: none;
  }

  &.is-dragged {
    /* Be on top when dragging so loupe can overlap */
    z-index: 2;
  }
}

.spectrum-ColorWheel-gradient {
  position: relative;
  z-index: 0;
  width: var(--spectrum-colorwheel-width);
  height: var(--spectrum-colorwheel-height);

  &:before,
  &:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    border-width: var(--spectrum-colorwheel-border-size);
    border-style: solid;
  }

  &:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &:after {
    top: calc(var(--spectrum-colorwheel-track-width) - var(--spectrum-colorwheel-border-size));
    left: calc(var(--spectrum-colorwheel-track-width) - var(--spectrum-colorwheel-border-size));
    bottom: calc(var(--spectrum-colorwheel-track-width) - var(--spectrum-colorwheel-border-size));
    right: calc(var(--spectrum-colorwheel-track-width) - var(--spectrum-colorwheel-border-size));
  }
}

.spectrum-ColorWheel-slider {
  @extend %spectrum-ColorControl-hiddenField;
}
