/*
 * Copyright 2021 Watheia Labs, LLC. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* todo: fix this in DNA */
  --spectrum-colorwheel-border-color: var(--spectrum-colorarea-border-color);
}

.spectrum-ColorWheel {
  &.is-disabled {
    .spectrum-ColorWheel-gradient {
      background: var(--spectrum-colorwheel-fill-color-disabled) !important;

      &:before,
      &:after {
        border-color: var(--spectrum-colorwheel-border-color-disabled);
      }
    }

    /* hide all the little colored bits */
    .spectrum-ColorWheel-segment {
      display: none;
    }
  }
}

.spectrum-ColorWheel-gradient {
  &:before,
  &:after {
    border-color: var(--spectrum-colorwheel-border-color);
  }
}
